*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
display: flex;
justify-content: center;
width: 100%;
height: 400px; 
background: linear-gradient(to right,#ff8f70, hsl(353, 100%, 62%));
border-bottom-left-radius: 100px;
}

.logo
{
font-family: 'Overpass', sans-serif;
font-size: 1.8rem;
font-weight: 1000;
padding-top: 1.7rem;
text-align: left;
position: relative;
right:  -2rem;
}

.logo a {
    color: #fff;
}

.header-h1 {
font-family: 'Overpass', sans-serif;
color: #fff;
padding-top: 10.4rem;
font-weight: 700;
position: relative;
left: 350px;
text-align: center;
}

header p {
    position: relative;
    font-family: 'Overpass', sans-serif;
    padding-top: 14.3rem;
    right: 30px;
    text-align: center;
    color: #fff1f7;
}


/* Estilizando os Botões */ 

.botoes ul {
    display: flex;
}

.botoes ul li {
    list-style: none;
}

.botoes ul li a {
    font-family: 'Overpass', sans-serif;
    position: relative;
    right: 21.4rem;
    margin-left: 20px;
    top: 310px;
    
}

.botoes .start {
    color: #ff8f70;
    background-color: #fff;
    border-radius: 2rem;
    padding: 13px 14.4px;
    font-weight: 600;
    transition: 0.8s;
}

.botoes .learn {
    border: 2px solid #fff;
    color: #fff;
    padding: 12px 18px;
    border-radius: 2rem;
    font-weight: 600;
    transition: 0.8s;
}


.botoes .sign {

position: relative;
background-color: #fff;
color: hsl(353, 100%, 62%);
border-radius: 2rem;
padding: 12px 25px;
font-weight: 600;
top: 1.6rem;
right: 4rem;
}

.botoes .login {
    color: #fff;
    position: relative;
    top: 1.6rem;
    right: 4rem;
    font-weight: 600;
}